body {
    font-family: 'Caveat', cursive;
    margin: 0;
    background-color: #B2CF61;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 80px;
    height: auto;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #60847E;
    box-shadow: #6CA299 0 2px 5px;
}

.new-note-section {
    margin-top: 32px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38vw;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 8px;
    border-radius: 16px;
    box-shadow: #6ca299 0px 0px 5px 3px;
}


input {
    color: #60847E;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    border-bottom: 2px solid #60847E;
    background-color: transparent;
    height: 24px;
    width: 35vw;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 8px;
    outline: none;
    font-size: 30px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
}

.input-footer{
    border-top: 2px solid #60847E;
    padding-right: 16px;
    padding: 8px;
    width: 93%;
    display: flex;
    justify-content: flex-end;
}

.input-footer img:hover{
    opacity: 0.5;
    cursor: pointer;
}

textarea {
    color: #60847E;
    font-family: 'Caveat', cursive;
    min-width: 35vw;
    min-height: 100px;
    max-width: 35vw;
    background-color: transparent;
    border: none;
    font-size: 24px;
    outline: none;
    overflow: hidden;
    margin-bottom: 8px;
}

.notes-section {
    margin-top: 32px;
    width: 100vw;
    min-height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #B2CF61;
    background-color: #DBF29B;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    padding: 16px;
    min-width: 25vw;
    max-width: 25vw;
    height: auto;
    border-radius: 10px;
    box-shadow: #6ca299 0px 0px 5px 3px;
}

.notes-title {
    color: #476102;
    font-weight: bold;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    width: 95%;
    height: 24px;
    border-bottom: 2px solid #60847E;
}

.notes-text {
    padding-top: 8px;
    font-size: 20px;
    color: #476102;
}

.notes-footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #60847E;
    margin-top: 8px;
}

.notes-footer img{
    padding: 8px;
    width: 32px;
    height: 32px;
}

.notes-footer img:hover{
    opacity: 0.5;
    cursor: pointer;
}