body{
    margin: 0;
    display: flex;
}

.leftcontainer{
    border-right: solid lightgrey 1px;
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 100vw;
    width: 300px;
}