*{
    margin: 0;
}

body{
    margin: 0;
    display: flex;
}

.leftcontainer{
    border-right: solid lightgrey 1px;
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 300px;
}

.nav-sections{
    padding: 2vh;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.easylogo{
    
}