html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.bg1 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    background-image: url(./img/bgr1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    height: 50px;
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
}

.saku-logo {
    background-image: url(./img/saku.png);
    height: 48px;
    width: 50px;
}

.navbar ul {
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    list-style: none;
    height: 20px;
}

.nav {
    padding-right: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, 0.274);
}

.navbar a {
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.phone-button {
    display: flex;
    align-items: center;
    color: white;
    background-color: #5d1111;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.phone-button:hover{
    background-color: #a02d2d;
}

#phone {
    height: 25px;
    vertical-align: middle;
    padding-right: 5px;
}

h1{
    color: white;
    font-size: 70px;
    margin: 0;
    font-weight: bold;
}

.container1{
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.container2{
    display: flex;
    justify-content: center;
    color: white;
}
.bg2{
    font-family: 'Economica', sans-serif;
    font-weight: bold;
}

.howOrder{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

h2{
    text-transform: uppercase;
    font-size: 50px;
    color: #a4050a;
}

.icon-menu{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 150px;
}

.icon{
    width: 131px;
    height: auto;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
}