html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.bg1 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    background-image: url(./img/bgr1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    height: 50px;
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
}

.sakuLogo {
    background-image: url(./img/saku.png);
    height: 48px;
    width: 50px;
}

.navbar ul {
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    list-style: none;
    height: 20px;
}

.nav {
    padding-right: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.274);
}

.navbar a {
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.phoneButton {
    display: flex;
    align-items: center;
    color: white;
    background-color: #5d1111;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.phoneButton:hover {
    background-color: #a02d2d;
}

#phone {
    height: 25px;
    vertical-align: middle;
    padding-right: 5px;
}

h1 {
    color: white;
    font-size: 70px;
    margin: 0;
    font-weight: bold;
}

.container1 {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.container2 {
    display: flex;
    justify-content: center;
    color: white;
}

.howOrder {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 50px;
    color: #a4050a;
}

h2 {
    text-transform: uppercase;
    font-size: 50px;
    color: #a4050a;
}

.iconOrder {
    font-family: 'Economica', sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 150px;
}

.icon {
    width: 131px;
    height: auto;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.bg3 {
    background-image: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
}

.titleClass {
    display: flex;
    justify-content: center;
    font-family: 'Economica', sans-serif;
    color: #a4050a;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 57px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 70px;
}


.menucontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table {
    width: 350px;
}

th {
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    font-size: 42px;
    padding-bottom: 20px;
    text-align: start;
}

td {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: grey;
}

.menu1 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.menu1 img {
    width: 250px;
}

.menu2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding-bottom: 30px;
}

.menu2 img {
    width: 250px;
}


#titleFindUs {
    font-family: 'Raleway', sans-serif;
    color: #a4050a;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 57px;
    margin: 0;
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

.address img {
    width: 18px;
    padding-right: 5px;
}

iframe {
    margin-top: 20px;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialMedia {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}