<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>

    <title></title>
</head>
<body onload="includeHTML()">
  <div class="basket-container">
    <h1>Warenkorb</h1>
    <div id="cart">
      <div id=1>
        <div class="sektion-1">
          <div>
            <span><b>+</b></span>
          </div>
          <div class="cartNamePrice">
            <h4>Name</h4>
            <p>${formattedPrice}</p>
          </div>
        </div>
        <div class="section-2">
          <span>Anmerkung hinzufügen</span>
          <div class="add-sub">
            <div class="dish-counter" onclick="">-</div>
            <div class="dish-counter" onclick="">+</div>
          </div>
        </div>
        <div class="calc" id="calc">
          <div class="costs">
            <span>Zwischensumme</span>
            <span>6.5</span>
          </div>
          <div class="costs">
            <span>Lieferkosten</span>
            <span>kostenlos</span>
          </div>
          <div class="costs">
            <div><b>Gesamt</b></div>
            <div><b>6.5</b></div>
          </div>
          <button class="btn"><span><b>Bezahlen</b></span></button>
        </div>
      </div>
    </div>
  </div>

  
</body>
</html>