body{
    margin: 0;
    padding: 0;
}

.headerImage{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.navBar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.headerNav{
    display: flex;
    align-items: center;
}