body {
    margin: 0;
    padding: 0;
    font-family: "Calibri";
}

.headerImage {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.headerContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.navBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.headerLogo {
    width: 170px;
}

.headerNav {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.headerNav a {
    color: white;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: all 225ms ease-in-out;
    margin-left: 6px;
    margin-right: 6px;
}

.headerNav a:hover {
    border-bottom: 4px solid white;
    transition: all 225ms ease-in-out;
}

.applyBtn {
    background-color: rgb(250, 187, 120);
    padding: 12px;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.applyBtn:hover {
    background-color: rgb(252, 162, 65);
}

.profilePicture {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 16px;
    margin-left: 16px;
}

.founders {
    display: flex;
    justify-content: center;
    padding: 32px;
}

.headlineSection {
    display: flex;
    justify-content: center;
}

.textCenter {
    text-align: center;
}

.textGray {
    color: #777777;
}

.founderBox {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 220px;
}

.bg1{
    background-color: #f9f9f9;
}

.bg2{
    background-color: #f1f1f1;
}

.explainPicture{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 32px;
    margin-right: 32px;
}

.explainSection{
    padding: 16px;
    display: flex;
    justify-content: center;
}